:root{
  --color-bg-green: #849d8f;
  --color-bg-blue: #8996a6;
  --color-bg-brown: #9d8b84;

  --color-text-default: #323232;
  --color-link-default: #ffbc9e;
  --color-link-modal-default: #e84d37;
  --color-menu-bg: #f8f7f4;
  --color-menu-hover: #fbded7;
  --color-menu-active: #f6b5a5;
  --color-menu-current: #d07058;
  --color-border: #d3d3d2;

  --color-button-bg: #ed5c3d;
  --color-button-hover: #f17c64;
  --color-button-active: #ed5c3d;

  --color-product-bg-green: #9bafa3;
  --color-product-bg-blue: #a0a8ba;
  --color-product-bg-brown: #b09a95;

  --color-social-facebook: #4868ac;
  --color-social-instagram: #c13584;
  --color-social-twitter: #1da1f2;
  --color-social-vkontakte: #5b7aa8;

  --transparent-white-70: rgba(255,255,255,0.7);
  --transparent-white-50: rgba(255,255,255,0.5);
  --transparent-white-30: rgba(255,255,255,0.3);
  --transparent-white-20: rgba(255,255,255,0.2);
  --transparent-black-50: rgba(0, 0, 0, 0.5);
  --transparent-black-40: rgba(0, 0, 0, 0.4);
  --transparent-black-20: rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Roboto";
  src: url('fonts/roboto.woff2') format('woff2'),
       url('fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/robotomedium.woff2') format('woff2'),
       url('fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/robotobold.woff2') format('woff2'),
       url('fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html { box-sizing: border-box; }
*, *::before, *::after {box-sizing: inherit;}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--color-link-default);
}
a:focus {
  outline: 2px dashed var(--transparent-white-50);
  outline-offset: 3px;
}
a:active {
  outline: none;
}

input[type=text], input[type=password] {
  font: inherit;
}

body {
  margin: 0 auto;
  padding: 0 27px;
  width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;

  background-color: var(--color-bg-green);
  background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 30%);
}
.bg-green {
  background-color: var(--color-bg-green);
  background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 30%);
}
.bg-blue {
  background-color: var(--color-bg-blue);
  background-image: radial-gradient(circle at center 450px, #c5d8e8, #8996a6 30%);
}
.bg-light-brown {
  background-color: var(--color-bg-brown);
  background-image: radial-gradient(circle at center 450px, #e1ccc4, #9d8b84 30%);
}

body.inner-pages {
  background-image: none;
 }

/*--- конец общих правил ---*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position:absolute;

  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow:hidden;
}
.hidden {
  display: none;
}
.right {
  text-align: right;
}

/*-- основные сетки и контейнер--*/
/* ширина по тз 1 колонки 22.2% от контентной обл 1200 или 900 */
.col {
  width: 267px;
}
.col-2 {
  width: 560px;
}
.col-3 {
  width: 853px;
}
.col-right {
  margin-left: 26px;
  width: 267px; 
}
/* отступ по тз м/у колонками 2.2% */
.сol-pad {
  width: 26px;
}

/* ---  header --- */

.main-header {
  padding-top: 9px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.fl-start {
  justify-content: flex-start;
}

.logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

/* основные меню */
.main-menu,
.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu {
  display: flex;
  margin-top: 20px;
  width: 675px;
}
.main-menu-item {
  position: relative;
  margin-right: 2px;
}
.main-menu-item > a {
  position: relative;
  padding: 5px 14px 6px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}
.main-menu-item:not(.current) > a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 13px;
  height: 1px;
  width: calc(100% - 26px);
  background-color: var(--transparent-white-20);
}

.main-menu-item > a:hover,
.main-menu-item > a:focus,
.main-menu-item > a:active,
.menu-item-hover {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
  border-radius: 24px;
  outline: none;
}
.main-menu-item > a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
}
.main-menu-item > a:hover::after,
.main-menu-item > a:focus::after,
.main-menu-item > a:active::after {
  height: 0;
}

.main-menu-item.current > a {
  color: var(--color-menu-bg);
  border-radius: 24px;
  background-color: var(--color-menu-current);
}
.main-menu-item.current > a:hover,
.main-menu-item.current > a:focus,
.main-menu-item.current > a:active {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
}

.catalog-menu.showed,
.main-menu-item:hover .catalog-menu {
  display: block;
}
.catalog-menu {
  display: none;
  z-index: 10;
  position: absolute;
  top: 33px;
  left: -7px;
  min-width: 150px;
  padding: 0;
  border-radius: 5px;
  background-color: var(--color-menu-bg);
  box-shadow: 0 20px 20px 0 var(--transparent-black-40);
  overflow: hidden;
}
.catalog-menu a {
  display: block;
  padding: 6px 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--color-text-default);
  outline: none;
}
.catalog-menu li:first-child a {
  padding-top: 11px;
}
.catalog-menu li:last-child a {
  padding-bottom: 11px;
}
.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: var(--color-menu-hover);
}
.catalog-menu a:active {
  background-color: var(--color-menu-active);
}
.catalog-menu .current a {
  color: white;
  background-color: var(--color-menu-current);
  pointer-events: none;
}
.catalog-menu .new {
  position: relative;
  padding-bottom: 11px;
  font-weight: 700;
}
.catalog-menu .new::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: var(--color-border);
}

/* поиск */
.header-search {
  position: relative;
}
.button-search {
  margin: 14px 6px 0 0px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: var(--transparent-white-30);
  background-image: url("../img/icons-sprite.svg#search-view");
  background-size: 17px 17px;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.button-search:hover,
.button-search:focus,
.button-search:active {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
  background-image: url("../img/icons-sprite.svg#search-view-black");
  outline: none;
}

.form-search.showed,
.header-search:hover .form-search {
  display: block;
}
.form-search,
.user-auth {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
}
.form-search {
  display: none;
  top: 50px;
  right: 6px;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: var(--color-menu-bg);
  box-shadow: 0 20px 20px 0 var(--transparent-black-40);
}
.form-search [type="text"] {
  width: 100%;
  height: 100%;
}

/* меню пользователя */
.user-menu {
  display: flex;
  margin: 14px 5px 0 4px;
  padding: 0;
  list-style: none;
}
.login {
  position: relative;
}
.login-link,
.basket-link {
  display: block;
  padding: 8px 18px 8px 43px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-color: var(--transparent-white-30);
}
.login-link {
  border-radius: 24px;
  background-color: var(--transparent-white-30);
  background-image: url("../img/icons-sprite.svg#login-view");
  background-size: 21px 19px;
  background-position: 16px 6px;
  background-repeat: no-repeat;
}
.login-link:hover,
.login-link:focus,
.login-link:active {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
  background-image: url("../img/icons-sprite.svg#login-view-black");
  outline: none;
}

/* блок авторизации */
.user-auth.showed,
.user-menu .login:hover .user-auth {
  display: block;
}
.user-auth {
  display: none;
  top: 39px;
  right: 0;
  width: 277px;
  height: 214px;
  padding: 20px 18px;
  border-radius: 5px;
  background-color: var(--color-menu-bg);
  box-shadow: 0 0 10px var(--transparent-black-50);
}
.user-auth input {
  margin-bottom: 20px;
  width: 100%;
}
.auth-links {
  display: inline-block;
  margin-left: 20px;
  width: 120px;
  vertical-align: middle;
}
.user-auth a {
  font-size: 13px;
  line-height: 24px;
  color: var(--color-text-default);
  text-decoration: underline;
}
.user-auth a:hover,
.user-auth a:focus {
  color: var(--color-link-modal-default);
}

.user-auth .button {
  border-radius: 16px/23px;
}

.form-input [type="text"],
.form-input [type="password"],
.form-input textarea {
  padding: 11px 13px;
  font: inherit;
  color: var(--color-text-default);
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-sizing: border-box;
}
.form-input [type="text"]:hover,
.form-input [type="password"]:hover,
.form-input textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
  box-shadow: 0 0 0px 1px rgba(154, 154, 154, 0.52);
  outline: none;
}
.form-input [type="text"]:focus,
.form-input [type="password"]:focus,
.form-input textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
  box-shadow: 0 0 0px 1px rgba(46, 136, 228, 0.52);
}

/* корзина */
.basket {
  position: relative;
}
.basket-link {
  margin: 14px 0 19px 5px;
  min-width: 116px;
  border-radius: 24px;
  background-color: var(--transparent-white-30);
  background-image: url("../img/icons-sprite.svg#basket-view");
  background-size: 21px 20px;
  background-position: 17px 6px;
  background-repeat: no-repeat;
}
.basket-link:hover,
.basket-link:focus,
.basket-link:active {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
  background-image: url("../img/icons-sprite.svg#basket-view-black");
  outline: none;
}
.not-empty .basket-link {
  background-image: url("../img/icons-sprite.svg#basket-not-empty-view");
}

/* блок корзины */
.basket-popup.showed,
.basket.not-empty:hover .basket-popup {
  display: block;
}
.basket-popup {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 0;
  padding: 20px 15px;
  width: 540px;
  font-size: 13px;
  line-height: 16px;
  color: #332332;
  
  background-color: var(--color-menu-bg);
  box-shadow: 0 20px 20px 0 var(--transparent-black-40);
  border-radius: 5px;
}
.basket-list {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 1px solid var(--color-border);
}
.product-rm {
  width: 23px;
  padding: 0 2px 20px;
}
.product-rm button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/icons-sprite.svg#cross-small-view");
  background-size: 11px 11px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid var(--color-menu-bg);
  cursor: pointer;
  outline: none;
}
.product-rm button:hover,
.product-rm button:focus {
  border-color: var(--color-text-default);
}
.product-rm button:active {
  border-width: 2px;
}
.product-img {
  width: 37px;
  padding: 0 2px 20px;
}
.product-img img {
  width: 33px;
  border-radius: 50%;
}
.product-name {
  padding: 0 5px 20px;
  width: 233px;
}
.count-price {
  white-space: nowrap;
  padding: 0 5px 20px;
  width: 120px;
}
.product-sum {
  white-space: nowrap;
  padding: 0 0 20px 5px;
  width: 70px;
}
.basket-sum {
  margin: 18px 0 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

/* телефон в хедере */
.crumbs {
  position: relative;
  z-index: 1;
  align-items: flex-start;
}
.contact-info {
  flex-grow: 1;
  margin-top: -2px;
  text-align: right;
  font-weight: 700;
}
.contacts-time {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
.contacts-phone {
  margin: 4px -2px 0;
  font-size: 22px;
  line-height: 24px;
}
.contacts-phone a:focus{
  outline-offset: 0;
}

/* --- main --- */

/* основные стили кнопок */
.button {
  display: inline-block;
  padding: 10px 22px 12px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: white;
  border:none;
  border-radius: 24px;
  box-shadow: 0px 2px 0 0px rgba(85, 8, 0, 0.54);
  background-color: var(--color-button-bg);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
  color: white;
  background-color: var(--color-button-hover);
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
  
}
.button:active {
  color: white;
  background-color: var(--color-button-active);
  background-image: linear-gradient(to top,#d74632, #e1613e);
  box-shadow: 0px 2px 2px 0px rgb(148, 39, 24) inset;
}

/* кнопка закрыть */
.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons-sprite.svg#cross-big-view");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

/* слайдер */
.slider {
  position: relative;
  margin-top: -33px;
  margin-bottom: -25px;
  height: 590px;
}
.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-list li {
  position: relative;
  text-align: center;
}
.slider-list h3 {
  position: absolute;
  width: 100%;
  top: 306px;
  margin: 0;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 2px var(--transparent-black-40);
}
.slider-list img {
  height: 582px;
}
.slider-list div {
  position: absolute;
  width: 100%;
  top: 460px;
}
.slider-list a.button {
  font-size: 32px;
  line-height: 44px;
  padding: 8px 40px 12px;
  text-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  border-radius: 32px;
}
.slider-control {
  position: absolute;
  top: 480px;
  display: flex;
  justify-content: space-between;
  width: 78px;
}

.slider-control label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.slider-control label:hover {
  background-color: var(--transparent-white-50);
}

#slider-1:focus ~ .slider-control > label:nth-child(1),
#slider-2:focus ~ .slider-control > label:nth-child(2),
#slider-3:focus ~ .slider-control > label:nth-child(3) {
  border-color: var(--transparent-black-50);
}

#slider-1:checked ~ .slider-list > li:nth-child(1),
#slider-2:checked ~ .slider-list > li:nth-child(2),
#slider-3:checked ~ .slider-list > li:nth-child(3) {
  display: block;
}

#slider-1:checked ~ .slider-control > label:nth-child(1),
#slider-2:checked ~ .slider-control > label:nth-child(2),
#slider-3:checked ~ .slider-control > label:nth-child(3) {
  background-color: white;
}

/* колонки */
.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
/* баннеры */
.action-raspberry,
.action-chocolate  {
  z-index: 1;
  padding: 14px 20px 23px;
  border-radius: 15px;
}
.action-raspberry {
  background-color: #780e22;
  background-image: url("../img/action-raspberry.jpg");
}
.action-chocolate {
  background-color: #43291c;
  background-image: url("../img/action-chocolate.jpg");
}
.action-raspberry h2,
.action-chocolate h2 {
  margin: 0 0 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.action-raspberry p,
.action-chocolate p {
  margin: 0 0 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/* каталог товаров */
.catalog .ice-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.icecream {
  position: relative;
  text-align: center;
  margin-right: 26px;
  margin-bottom: 33px;
}
.icecream:nth-child(4n) {
  margin-right: 0;
}
.icecream:hover,
.icecream.hover {
  z-index: 1;
}
.inner-pages .ice-cream {
  margin-bottom: 40px;
}

.icecream:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -80px;
  background-color: var(--color-product-bg-green);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 var(--transparent-black-40);
}
.bg-green .icecream:hover::before {
  background-color: var(--color-product-bg-green);
}
.bg-blue .icecream:hover::before {
  background-color: var(--color-product-bg-blue);
}
.bg-light-brown .icecream:hover::before {
  background-color: var(--color-product-bg-brown);
}
.icecream > a {
  display: block;
  position: relative;
  color: white;
  border-bottom: none;
  outline-offset: 5px;
}
.icecream.hit > a::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/icons-sprite-catalog.svg#hit-view");
  background-size: 61px 61px;
}
.icecream .name {
  margin: 7px 5px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.icecream .name:hover,
.icecream .name:focus {
  text-decoration: none;
}
.icecream .price {
  position: absolute;
  top: 208px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.price::after {
  content: "/кг";
  font-size: 30px;
  line-height: 57px;
  width: 100px;
  padding-left: 12px;
  position: absolute;
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-position: 3px 8px;
}
.icecream .button {
  display: none;
}
.icecream:hover .button {
  position: absolute;
  display: block;
  bottom: -55px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

/* seo блок о магазине */
.shop-seo {
  margin-bottom: 40px;
  padding: 26px 20px 15px;
  color: var(--color-text-default);
  border-radius: 15px;
  background-color: #EDE0C3;
  background-image: url("../img/shop-seo-bg-wafer.jpg");
  background-repeat: repeat;
}
.shop-seo h2 {
  margin: 0 0 7px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.shop-seo ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.shop-seo li {
  position: relative;
  padding: 14px 0 8px 56px;
  width: 540px;
}

.seo-cow,
.seo-eco,
.seo-icecream,
.seo-thermometer {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 49px 49px;
}
.seo-cow {
  background-image: url("../img/icons-sprite-seo.svg#seo-cow-view");
}
.seo-eco {
  background-image: url("../img/icons-sprite-seo.svg#seo-eco-view");
}
.seo-icecream {
  background-image: url("../img/icons-sprite-seo.svg#seo-icecream-view");
}
.seo-thermometer {
  background-image: url("../img/icons-sprite-seo.svg#seo-thermometer-view");
}

/* колонка блог */
.our-blog {
  padding: 22px 20px;
  min-height: 220px;
  color: var(--color-text-default);
  border-radius: 15px;
  background-color: white;
  background-image: url("../img/blog-bg.jpg");
  background-position: 204px -36px;
  background-repeat: no-repeat;
}
.our-blog p {
  margin: 0 0 5px;
  font-weight: 500;
}
.our-blog a {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-text-default);
  text-decoration: underline;
  text-shadow: 0px 0px 10px white;
}
.our-blog a:hover {
  color: var(--color-link-modal-default);
  text-shadow: 0px 0px 2px var(--transparent-black-40);
}
.our-blog a:focus {
  outline-color: var(--transparent-black-50);
}

/* колонка подписки */
.subscribe {
  padding: 6px;
  color: #5A5A5A;
  border-radius: 15px;
  background-color: #e0d6dd;
  background-image: repeating-linear-gradient(-45deg, #92cdff 0, #92cdff 7px, #F8F7F4 7px, #F8F7F4 14px, #fe9e90 14px, #fe9e90 21px, #F8F7F4 21px, #F8F7F4 28px);
}
.subscribe div {
  height: 100%;
  padding: 28px 20px;
  border-radius: 15px;
  background-color: var(--color-menu-bg);
}
.subscribe p {
  margin: 0 0 36px;
  font-size: 16px;
  line-height: 22px;
}
.subscribe input {
  width: 366px;
  line-height: 24px;
  color: #999999;
}
.subscribe .button {
  margin-left: 8px;
  padding: 9px 19px 12px;
}

/* карта и адрес */
.office-map {
  height: 430px;
}
.office-map .container {
  position: relative;
}
.office-map .map {
  position: absolute;
  width: 1200px;
  height: 430px;
  left: 50%;
  margin-left: -600px;
  background-image: url("../img/map-full.jpg");
  background-position: -25px -110px;
  background-repeat: no-repeat;
}
.office-map iframe {
  width: 100%;
}
.our-adress {
  position: absolute;
  z-index: 1;
  top:62px;
  right: 30px;
  width: 300px;
  padding: 29px 25px;
  color: var(--color-text-default);
  border-radius: 13px;
  background-color: #FFFFFC; 
}
.our-adress p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.our-adress .bold {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.our-adress p:nth-child(4) {
  margin-bottom: 3px;
  margin-top: 2px;
}
.our-adress p:nth-child(5) {
  margin-bottom: 24px;
}
.our-adress .button {
  width: 100%;
}

/* форма обратной связи */
.form-feedback {
  position: fixed;
  z-index: 10;
  top: 20px;
  left: 50%;
  margin-left: -238px;
  width: 477px;
  height: 442px;
  padding: 20px 25px 25px;
  color: var(--color-text-default);
  border-radius: 5px;
  background-color: var(--color-menu-bg);
  box-shadow: 0 20px 20px 0 var(--transparent-black-40);
}
.form-feedback h3 {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-text-default);
}
.form-feedback input {
  margin: 0 0 20px;
  width: 267px;
  font: inherit;
  line-height: 24px;
}
.form-feedback textarea {
  margin: 0 0 25px;
  width: 100%;
  height: 155px;
}
.form-feedback .button-close {
  top: 15px;
  right: 16px;
}
.form-feedback .button-close:hover {
  outline: 1px solid rgba(46, 136, 228, 0.52);
  outline-offset: 2px;
}
.form-feedback .button-close:focus {
  outline: 2px solid rgba(46, 136, 228, 0.52);
  outline-offset: 2px;
}

/* стили для внутренних страниц */
.inner-pages h1 {
  margin: 0 0 30px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.inner-pages .catalog {
  margin-bottom: 40px;
}

/* фильтр товаров */
.filters {
  margin-bottom: 20px;
}
.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-form fieldset {
  margin: 0 15px 18px 0;
  padding: 0;
  border: none;
}
.filter-form legend {
  margin: 0px 0 5px 17px;
  font-size: 14px;
  line-height: 16px;
}
.filter-form select:hover,
.filter-form select:focus {
  color: var(--color-text-default);
}
.filter-form select:focus {
  color: var(--color-text-default);
  border: 1px solid var(--transparent-white-50);
}

/* фильтр по цене */
.filter-form .sort-by,
.filter-form .price-by,
.filter-form ul {
  color: var(--color-menu-bg);
  background-color: var(--transparent-white-20);
  border-radius: 18px;
  border: none;
}
.filter-form .sort-by {
  padding: 9px 31px 7px 15px;
  border: 1px solid transparent;
  background-image: url("../img/icons-sprite-catalog.svg#select-arrow-view");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 90% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.filter-form .sort-by option {
  background: var(--color-menu-bg);
}

.filter-form .price-by {
  position: relative;
  padding: 0 21px;
  height: 36px;
  width: 218px;
  border: 1px solid transparent;
}
.filter-form .price-by.focus {
  border: 1px solid var(--transparent-white-50);
}

.filter-form .price-by::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 16px;
  height: 5px;
  width: 176px;
  background-color: #ccc;
}
.price-range {
  content: "";
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 36px;
  height: 5px;
  width: 114px;
  background-color: white;
}
.filter-form .price-by .filter-price {
  position: absolute;
  top: 8px;
  width: 176px;
  background: none;
  pointer-events: none;
}
.filter-price,
.filter-price::-webkit-slider-runnable-track,
.filter-price::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
}
.filter-price::-webkit-slider-runnable-track {
  position: relative;
  height: 5px;
  border: none;
  background: none;
}
.filter-price::-moz-range-track {
  position: relative;
  height: 5px;
  border: none;
  background: none;
}
.filter-price::-ms-track {
  position: relative;
  height: 5px;
  border: none;
  background: none;
}
.filter-price::-ms-fill-lower,
.filter-price::-ms-fill-upper,
.filter-price::-ms-tooltip {
  display: none;
}
.filter-price::-webkit-slider-thumb {
  z-index: 1;
  width: 20px;
  height: 23px;
  border: none;
  background-image: url("../img/icons-sprite-catalog.svg#filter-button-view");
  background-size: 20px 23px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  pointer-events: all;
}
.filter-price::-moz-range-thumb {
  z-index: 1;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../img/icons-sprite-catalog.svg#filter-button-view");
  background-size: 20px 23px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  pointer-events: all;
}
.filter-price::-ms-thumb {
  z-index: 1;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  pointer-events: all;
}
.filter-price:focus::-webkit-slider-thumb,
.filter-price:active::-webkit-slider-thumb {
  width: 22px;
  height: 26px;
  margin-top: -1px;
  background-size: 22px 26px;
}
/* TODO: проблема в FF с увеличением фона у псевдоэлементов */
.filter-price:focus::-moz-range-thumb,
.filter-price:active::-moz-range-thumb {
  /*width: 22px;
  height: 22px;
  background-size: 22px 22px;*/
}
.filter-price:focus::-ms-thumb,
.filter-price:active::-ms-thumb {
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
}

#filter-price-to::-webkit-slider-runnable-track {
  background: none;
}
#filter-price-to::-moz-range-track {
  background: none;
}
#filter-price-to::-ms-track {
  background: none;
}

#filter-price-from::-webkit-slider-thumb {
  margin-left: -6px;
}
#filter-price-from::-moz-range-thumb {
  margin-left: -6px;
}
#filter-price-from::-ms-thumb {
  margin-left: -6px;
}
#filter-price-to::-webkit-slider-thumb {
  margin-left: 6px;
}
#filter-price-to::-moz-range-thumb {
  margin-left: 6px;
}

#filter-price-to::-ms-thumb {
  margin-left: 6px;
}



/* фильтры для чекбоксов и радиокнопок */
.filter-form .input-type {
  display: flex;
  margin: 0;
  padding: 0 5px;
  list-style: none;
  border: 1px solid transparent;
}
.filter-form .input-type.focus {
  border: 1px solid var(--transparent-white-50);
}

.filter-form .input-type li {
  position: relative;
}
.filter-form .fillers li {
  margin-right: 4px;
}
.filter-form .input-type li:last-child {
  margin-right: 0;
}

.input-type [type="radio"] ~ label::before,
.input-type [type="radio"]:checked ~ label::after,
.input-type [type="checkbox"] ~ label::before {
  content: "";
  position: absolute;
  cursor: pointer;
}

.input-type label {
  display: block;
  padding: 8px 9px 8px 41px;
  color: #eee;
}
.input-type label:hover,
.input-type input:focus ~ label {
  color: white;
  cursor: pointer;
}
.input-type [type="radio"] ~ label::before {
  top: 7px;
  left: 9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 3px solid #eee;
}
.input-type [type="radio"]:checked ~ label::after {
  top: 14px;
  left: 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid #eee;
}
.input-type [type="radio"] ~ label:hover::before,
.input-type [type="radio"]:focus ~ label::before,
.input-type [type="radio"]:checked:focus ~ label::before,
.input-type [type="radio"]:checked ~ label:hover::after {
  background-color: var(--transparent-white-30);
  border-color: white;
}
.input-type [type="radio"]:disabled ~ label,
.input-type [type="radio"]:disabled ~ label::after,
.input-type [type="radio"]:disabled ~ label::before {
  color: #ccc;
  border-color: #ccc;
  pointer-events: none;
}

.input-type [type="checkbox"] ~ label::before {
  top: 6px;
  left: 7px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.7;
}
.input-type [type="checkbox"]:checked ~ label::before {
  background-image: url(../img/checkbox-on.svg);
}
.input-type [type="checkbox"] ~ label:hover::before,
.input-type [type="checkbox"]:focus ~ label::before,
.input-type [type="checkbox"]:checked:focus ~ label::before,
.input-type [type="checkbox"]:checked ~ label:hover::before {
  background-color: var(--transparent-white-30);
  opacity: 1;
}
.input-type [type="checkbox"]:disabled ~ label,
.input-type [type="checkbox"]:disabled ~ label::before {
  color: #ccc;
  opacity: 0.5;
  pointer-events: none;
}

/* кнопка фильтра */
.filter-form .button {
  margin-bottom: 18px;
  padding: 8px 28px;
  font: inherit;
  color: var(--color-menu-bg);
  border: 2px solid var(--color-menu-bg);
  background-color: var(--transparent-white-20);
  background-image: none;
  box-shadow: none;
}
.filter-form .button:hover,
.filter-form .button:focus {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
}
.filter-form .button:active {
  color: var(--color-text-default);
  background-color: #eaeaea;
  padding: 9px 30px;
  border:none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105);
}

/* хлебные крошки */
.breadcrumbs,
.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs {
  margin-top: 26px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.breadcrumbs li {
  position: relative;
  margin-right: 22px;
}
.breadcrumbs a:hover {
  color: var(--color-link-default);
}
.breadcrumbs a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--transparent-white-20);
}
.breadcrumbs a::after {
  content: "\00bb";
  position: absolute;
  right: -14px;
}

/* навигация в каталоге */
.catalog-pagination {
  justify-content: flex-end;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
}
.catalog-pagination li {
  margin-left: 4px;
  text-align: center;
  vertical-align: middle;
}
.catalog-pagination a {
  min-width: 26px;
  height: 26px;
  display: inline-block;
  padding: 4px 8px;
  color: white;
  text-decoration: none;
  border-bottom: none;
}
.catalog-pagination a.first,
.catalog-pagination a.last {
  padding: 0;
  min-width: 8px;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons-sprite.svg#arrow-right-small-view");
  background-size: 8px 12px;
  background-position: 9px 6px;
  background-repeat: no-repeat;
}
.catalog-pagination a.first {
  transform: scale(-1, 1);
}
.catalog-pagination a:hover,
.catalog-pagination a:focus {
  border-radius: 15px;
  background-color: var(--transparent-white-20);
  outline: none;
}
.catalog-pagination a:active {
  color: var(--color-text-default);
  background-color: var(--color-menu-bg);
}
.catalog-pagination .current a {
  color: var(--color-text-default);
  border-radius: 15px;
  background-color: var(--color-menu-bg);
  pointer-events: none;
}
.catalog-pagination .disabled {
  background-color: transparent;
  opacity: 0.6;
  pointer-events: none;
}


/* --- footer --- */
.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}
.inner-pages .main-footer {
  border-top: 1px solid var(--color-border);
}

/* кнопки соц.сетей */
.social-links,
.documents {
  padding: 0;
  list-style: none;
}
.social-links {
  margin: 17px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.social-links li {
  margin-right: 12px;
}
.social-links li:last-child {
  margin-right: 0;
}
.social-button {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--transparent-white-50);
  background-position: 3px 3px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("../img/icons-sprite-social.svg#twitter-view");
}
.instagram {
  background-image: url("../img/icons-sprite-social.svg#instagram-view");
}
.facebook {
  background-image: url("../img/icons-sprite-social.svg#facebook-view");
}
.vkontakte {
  background-image: url("../img/icons-sprite-social.svg#vkontakte-view");
}
.twitter:hover,
.twitter:focus,
.instagram:hover,
.instagram:focus,
.facebook:hover,
.facebook:focus,
.vkontakte:hover,
.vkontakte:focus {
  background-color: var(--transparent-black-20);
  outline: none;
}

.twitter:active {
  background-color: var(--color-social-twitter);
  outline: none;
}
.instagram:active {
  background-color: var(--color-social-instagram);
  outline: none;
}
.facebook:active {
  background-color: var(--color-social-facebook);
  outline: none;
}
.vkontakte:active {
  background-color: var(--color-social-vkontakte);
  outline: none;
}

/* ссылки на документы */
.documents {
  margin: 14px 0 0 0;
  max-width: 530px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.documents::before {
  content: "";
  position: absolute;
  top:4px;
  left: -23px;
  width: 15px;
  height: 13px;
  background-image: url("../img/icons-sprite.svg#heart-view");
  background-size: 15px 13px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.documents div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.documents div:last-child {
  margin-right: 0;
}
.documents a {
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid var(--transparent-white-30);
}
.documents a:hover,
.documents a:focus,
.documents a:active {
  color: var(--color-link-default);
}
.documents a:hover,
.documents a:focus,
.documents a:active {
  border-bottom: 1px solid rgba(255,188,158,0.3);
}

/* разработка */
.copyright {
  width: 189px;
}
.copyright p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.copyright a.footer-logo {
  height: 39px;
  display: block;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  animation: annoying 10s ease-in infinite alternate;
}
@keyframes annoying{
  0% { transform: rotate3d(0, 1, 0, 0deg); }
  40% { transform: rotate3d(0, 1, 0, 0deg); }
  100% { transform: rotate3d(0, 1, 0, 360deg); }
}
.copyright:hover a.footer-logo {
  background-image: none;
  animation: none;
}
.copyright a.footer-logo .avx {
  display: none;
  line-height: 39px;
  text-transform: uppercase;
}
.copyright:hover a.footer-logo .avx {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px black;
}

/* --- ошибки и анимация --- */
input[type="text"].border-error,
input[type="password"].border-error,
input[type="text"].border-error:focus,
input[type="password"].border-error:focus {
  border-color: red;
  box-shadow: 0 0 0px 1px rgba(255, 0, 0, 0.52);
}
.error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

/* вторичный фикс.размер 900px */
@media (min-width: 924px) and (max-width: 1224px) {
  body {
    width: 900px;
    padding: 0 21px;
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 20%);
  }
  .bg-green {
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 20%);
  }
  .bg-blue {
    background-image: radial-gradient(circle at center 450px, #c5d8e8, #8996a6 20%);
  }
  .bg-light-brown {
    background-image: radial-gradient(circle at center 450px, #e1ccc4, #9d8b84 20%);
  }
  .main-menu {
    width: 400px;
  }
  /*-- основные сетки и контейнер--*/
  /* ширина по тз 1 колонки 22.2% от контентной обл 1200 или 900 */
  .col {
    width: 200px;
  }
  .col-2 {
    width: 420px;
  }

  .action-raspberry p,
  .action-chocolate p {
    margin-bottom: 22px;
  }
  .shop-seo li {
    width: 400px;
  }
  .our-blog{
    background-position: 60px -35px;
  }
  .subscribe p {
    margin-bottom: 12px;
  }
  .subscribe div {
    padding-right: 15px;
  }
  .subscribe input {
    width: 230px;
  }

  .filters fieldset:nth-child(3) {
    margin-right: 0;
  }
  .filters fieldset:nth-child(4) {
    margin-right: 10px;
  }
  .icecream .price {
    top: 138px;
  }

  .icecream {
    margin-right: 19px;
  }
  .inner-pages .icecream {
    margin-bottom: 30px;
  }
  .icecream .name {
    margin: 7px;
  }
  .icecream:hover .button {
    padding: 10px 12px 10px;
    bottom: -50px;
  }


  .office-map .map {
    width: 100%;
    margin-left: 0;
    left: 0;
    background-position: -50px -110px;
  }

  .inner-pages .catalog {
    margin-bottom: 43px;
  }
}


/* дополнительные стили для небольших устройств 720-768px */
@media (max-width: 924px) {
  body {
    min-width: 720px;
    width: 720px;
    padding: 0 17px;
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 15%);
  }
  .bg-green {
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 15%);
  }
  .bg-blue {
    background-image: radial-gradient(circle at center 450px, #c5d8e8, #8996a6 15%);
  }
  .bg-light-brown {
    background-image: radial-gradient(circle at center 450px, #e1ccc4, #9d8b84 15%);
  }
  .main-menu {
    width: 400px;
  }

  .col {
    width: 267px;
  }
  .col-2 {
    width: 100%;
  }

  .main-header {
    margin-bottom: 40px;
  }
  .main-nav .wrapper:first-child {
    flex-direction: column;
  }
  .main-menu-item:not(.current) > a::after {
    bottom: 0;
  }
  .contact-info {
    position: absolute;
    margin-top: -45px;
    right: 0;
  }

  .catalog ul {
    justify-content: space-around;
  }
  .icecream {
    margin-left: 38px;
    margin-right: 76px;
    margin-bottom: 30px;
  }
  .icecream:nth-child(2n) {
    margin-left: 0;
    margin-right: 38px;
  }
  .index-columns {
    flex-wrap: wrap;
  }
  .index-columns section {
    margin-bottom: 15px;
  }

  .filter-form {
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
  }
  .filter-form fieldset {
    width: 335px;
    margin: 0 0 20px;
  }
  .filters ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .filters .button {
    flex-grow: 1;
  }

  .shop-seo li {
    width: 100%;
    padding-left: 70px;
  }
  .seo-cow::before,
  .seo-eco::before,
  .seo-icecream::before,
  .seo-thermometer::before {
    top: 0;
  }

  .our-blog {
    background-position: right center;
  }

  .office-map {
    position: static;
  }
  .office-map .map {
    width: 100%;
    margin-left: 0;
    left: 0;
    background-position: -100px -110px;
  }

  .main-footer {
    align-items: center;
  }
  .social-links {
    width: 120px;
    margin: 0;
  }
  .social-links li {
    margin-bottom: 6px;
  }
}

/* вспомогательные стили ширины 720px для устройств с чуть меньшей шириной без фактической их поддержки */
@media (min-width: 600px) and (max-width: 744px) {
  body {
    min-width: 696px;
    width: 696px;
    padding: 0 10px;
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 10%);
  }
  .bg-green {
    background-image: radial-gradient(circle at center 450px, #c7ecd8, #849D8F 10%);
  }
  .bg-blue {
    background-image: radial-gradient(circle at center 450px, #c5d8e8, #8996a6 10%);
  }
  .bg-light-brown {
    background-image: radial-gradient(circle at center 450px, #e1ccc4, #9d8b84 10%);
  }
  .icecream {
    margin-left: 36px;
    margin-right: 70px;
  }
  .icecream:nth-child(2n) {
    margin-left: 0;
    margin-right: 36px;
  }
  .office-map .map {
    background-position: -150px -110px;
  }
}